= simple_form_for resource, :as => resource_name, :url => edit_user_registration_path, html: {method: :put}, method: :put do |f|
  = f.input :name, required: true
  = f.input :say
  = f.file_field :avatar
  .actions= f.submit
