.row.user_show
  .span4
    / = image_tag @user.avatar.url
    = image_tag user_avatar_url(200)
  .span8
    %ul.unstyled
      %li
        %span Email:
        = @user.email
      %li
        %span Name:
        = @user.name
      %li 
        %span Say:
        = @user.say
      %li
        = link_to "Edit", edit_user_registration_path
    
    